<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    collision-detail.component.html                    -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>

<div fxLayout="column" *ngIf="collisionSummary && !errorOccured" class="card">

    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="100%" style="padding-bottom: 10px;">
        <button mat-stroked-button (click)="close(false)"><span class="material-icons">chevron_left</span>Zpět</button>
        <button *ngIf="!collisionSummary.solved && collisionSummary.type != 2" mat-stroked-button
            (click)="showSelection = !showSelection;"
            color="accent">{{!showSelection ? "Řešit kolizi" : "Skrýt řešení"}}</button>
        <button *ngIf="!collisionSummary.solved && collisionSummary.type == 2" mat-stroked-button
            (click)="toggleCollisionSolution(true)" color="accent">Označit jako vyřešené</button>
        <button *ngIf="collisionSummary.solved" mat-stroked-button (click)="toggleCollisionSolution(false)">Označit jako
            nevyřešené</button>

    </div>
    <h3 mat-dialog-title>Detail kolize</h3>
    <div mat-dialog-content fxLayout="column">
        <table>
            <tr>
                <th>Stav:</th>
                <td>
                    <span *ngIf="collisionSummary.solved" class="txt-green">Vyřešená</span>
                    <span *ngIf="!collisionSummary.solved" class="txt-red">Nevyřešená</span>
                </td>
            </tr>
            <tr *ngIf="collisionSummary.solved">
                <th>Datum vyřešení:</th>
                <td *ngIf="solutionDate">
                    <span>{{solutionDate | date:'d. M. y - H:mm':'UTC +2'}}</span>
                </td>
            </tr>
            <tr>
                <th [ngStyle]="collisionSummary.type == 2 && {'vertical-align': 'top'}">Příčina:</th>
                <td [ngStyle]="collisionSummary.type == 2 && {'padding-top': '10px'}">
                    <!-- Ancestor Collision -->
                    <ng-container #AncestorCollision
                        *ngIf="collisionSummary.type==0 || collisionSummary.type==1; else GenerationCollision">
                        <span class="reason-text">Pro osobu </span>
                        <span class="reason-variable-text">{{collisionSummary.descendantName}}</span>
                        <span class="reason-text">existuje napříč rodokmeny více </span>
                        <span class="reason-variable-text" *ngIf="collisionSummary.type==0">matek</span>
                        <span class="reason-variable-text" *ngIf="collisionSummary.type==1">otců</span>
                    </ng-container>
                    <!-- Generation collision -->
                    <ng-template #GenerationCollision>
                        <span class="reason-text">Pro osoby </span>
                        <span class="reason-variable-text">{{collisionSummary.descendantName}}</span>
                        <span class="reason-text"> a </span>
                        <span class="reason-variable-text">{{collisionSummary.ancestorName}}</span>
                        <span class="reason-text"> existuje napříč rodokmeny více různých vztahů:
                            <ul class="generation-collision-list">
                                <li>manželský vztah</li>
                                <li>vztah předek - potomek</li>
                            </ul>
                        </span>
                    </ng-template>
            </tr>
            <tr>
                <th style="vertical-align: top;">Osoby v kolizi:</th>
                <td>
                    <table class="small-table w-100">
                        <tr>
                            <th class="small-table-title">Osoba</th>
                            <th class="small-table-title">Výskyt v rodokmenu *</th>
                            <th class="small-table-title">Matriky</th>
                        </tr>
                        <tr *ngFor="let person of alternativePersons">
                            <td class="small-table-name">
                                <a (click)="openPersonDetails(person)" matTooltip="Kliknutím zobrazíte detaily"
                                    class="link">
                                    <span *ngFor="let name of person.personNames">{{name.name}} </span>
                                </a>
                            </td>
                            <td>
                                <span *ngFor="let link of person.familyTreePerson">
                                    <a target="_blank" matTooltip="Kliknutím otevřete" class="link"
                                        [routerLink]="['/familytree/', link.familyTreeId]">{{link.familyTreeId}},</a>&nbsp;
                                </span>
                            </td>
                            <td>
                                <span *ngFor="let row of person.originalRecords">
                                    <a target="_blank" matTooltip="Kliknutím zobrazíte"
                                        href="http://perun.fit.vutbr.cz/demos/api/birth-ids/?acode=d396173a554a4ab8a379cb988f3c5ce8&id1={{row.recordId}}"
                                        class="link">{{row.recordId}}</a>, 
                                </span>
                            </td>
                            <mat-divider></mat-divider>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <span *ngIf="collisionSummary.type == 2 && !collisionSummary.solved">
            <mat-divider></mat-divider>
            Řešení můžete provést sami ve svém rodokmenu odstraněním příslušné osoby a&nbsp;vytvořením nového vztahu s
            danou osobou.
        </span>
    </div>

    <div *ngIf="showSelection" fxLayout="column">
        <mat-divider></mat-divider>
        <div fxLayout="row wrap" fxFlex="100%">
            <h3 mat-dialog-title fxFlex="70%">Vyřešit kolizi:</h3>
            <div fxFlex="30%" fxLayoutAlign="end start"><span matTooltip="Vyberte prosím výslednou osobu, pokud zvolíte jinou než stávající, bude stávající osoba v
                rodokmenu nahrazena. V případě, že se všichni uživatelé na řešení shodnou, bude kolize odstraněna"
                    class="material-icons help-icon">help</span></div>
        </div>
        <p class="solve-text"></p>
        <mat-form-field *ngIf="alternativePersons">
            <mat-label>Výsledná osoba</mat-label>
            <mat-select [(ngModel)]="collisionSolutionPersonId" (ngModelChange)="samePersonError = false">
                <mat-option *ngFor="let person of alternativePersons" [value]="person.id">
                    <span *ngFor="let name of person.personNames">{{name.name}} </span>
                    <span *ngIf="person.id == collisionSummary.currentPersonId" class="current-person">
                        &nbsp;&nbsp;[stávající]</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxFlex="100%">
            <button mat-raised-button fxFlex="100%" color="accent" [disabled]="!collisionSolutionPersonId"
                (click)="SolveCollision()">Vyřešit</button>
        </div>
    </div>
    <mat-divider *ngIf="samePersonError"></mat-divider>
    <span *ngIf="samePersonError" class="error-person-text">
        Nelze zvolit, protože osobu v rodokmenu již máte v jiném vztahu
    </span>
    <mat-divider></mat-divider>
    <span class="star-info-text">
        * odkazy na některé rodokmeny mohou být skryty, neboť jsou uživateli nastaveny jako neveřejné. <br> Zobrazeny
        jsou pouze reference na rodokmeny, ve kterých je osoba v kolizi
    </span>
</div>
<div *ngIf="errorOccured">
    <h3 mat-dialog-title>Detail kolize</h3>
    <app-error></app-error>
    <p class="error-text">Omlouváme se, ale kolize již pravděpodobně neexistuuje. Prosím vraťte se zpět.</p>
    <button mat-stroked-button (click)="close(true)" class="w-100 error-btn"><span
            class="material-icons">chevron_left</span>Zpět</button>
</div>