/*******************************************************************/
/*  Project: Bachelor's thesis – Genealogy Database System         */
/*           Faculty of Information Technology                     */
/*           Brno University of Technology                         */
/*                                                                 */
/*  File:    error-authorization.component.scss                    */
/*  Date:    2019 – 2020                                           */
/*  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>           */
/*******************************************************************/

.body {
    background-color: whitesmoke;
    height: 90%;
}

p {
    color: rgb(151, 151, 151);
    font-size: 140%;
}

.material-icons {
    font-size: 800%;
}
