<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    error-authorization.component.html                 -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>

<div fxLayout="column" fxLayoutAlign="center center" class="body">
    <p fxFlex="40%" fxLayoutAlign="start center" fxLayout="column">
        <span class="material-icons">vpn_key</span>
        Nemáte oprávnění k přístupu
    </p>
</div>