/*******************************************************************/
/*  Project: Bachelor's thesis – Genealogy Database System         */
/*           Faculty of Information Technology                     */
/*           Brno University of Technology                         */
/*                                                                 */
/*  File:    user-register.component.scss                          */
/*  Date:    2019 – 2020                                           */
/*  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>           */
/*******************************************************************/

.subtitle
{
    font-size: larger;
    padding: 10px 0;
}

.info-text
{
    font-size: smaller;
    color: grey;
}

.register-text{
    padding-top: 25px;
    font-size: smaller;
    color: grey;
    text-align: center;

    a{color: grey;}
    a:hover{color: rgb(48, 48, 48);}
}

.info-control-block{
    margin-top: -10px;
    margin-bottom: 20px;
}

mat-card-actions
{
    padding: 0 10px;
}
