<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    app.component.html                                 -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>

<app-main-nav>

    <router-outlet></router-outlet>

</app-main-nav>