<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    promo.component.html                               -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>

<div fxLayout="row" class="promo-banner" fxFlex="100%" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <section class="mat-typography">
            <h1>Dostupné na všech zařízeních</h1>
        </section>
        <p class="promo-text">Aplikaci je možné používat na všech zařízeních skrze webový prohlížeč</p>
        <img class="promo-img" src="../../../../assets/img/promo.png">
    </div>
</div>