/*******************************************************************/
/*  Project: Bachelor's thesis – Genealogy Database System         */
/*           Faculty of Information Technology                     */
/*           Brno University of Technology                         */
/*                                                                 */
/*  File:    person-replace-undefined.component.scss               */
/*  Date:    2019 – 2020                                           */
/*  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>           */
/*******************************************************************/

mat-divider {
    margin: 10px 0;
}

.hide-stepper {
    visibility: hidden;
}

.small-display-btns {
    button {
        padding: 10px 0;
        margin: 10px 0;
    }
}
