<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    url-user-register.component.html                   -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>


<div fxLayout="column" class="h-100" fxLayoutAlign="center center">
    <div fxLayout="row" fxFlex="50%" fxFlex.lt-sm="100%" fxLayoutAlign="center center">
        <app-user-register></app-user-register>
    </div>
</div>