<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    url-login.component.html                           -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>

<div fxLayout="column" class="h-100" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: -200px;">
        <app-user-login class="w-100" fxFlex="100%"></app-user-login>
    </div>
</div>