<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    url-user-dashboard.component.html                  -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>


<div fxLayout="row" fxLayoutAlign="center start">
    <app-user-dashboard fxFlex="80%" fxFlex.lt-md="100%" style="margin-top: 5vh;"></app-user-dashboard>
</div>