<!------------------------------------------------------------------>
<!--  Project: Bachelor's thesis – Genealogy Database System      -->
<!--           Faculty of Information Technology                  -->
<!--           Brno University of Technology                      -->
<!--                                                              -->
<!--  File:    hero.component.html                                -->
<!--  Date:    2019 – 2020                                        -->
<!--  Author:  Martin Chládek <xchlad16@stud.fit.vutbr.cz>        -->
<!------------------------------------------------------------------>

<div fxLayout="column" fxFlex>

    <!-- Jumbotron image and basic caption -->
    <app-jumbotron></app-jumbotron>

    <!-- 4 small info blocks on home page -->
    <app-info-blocks></app-info-blocks>
    
    <!-- Promo MacBook with screenshot -->
    <app-promo></app-promo>

    <!-- Footer -->
    <footer class="bg-grey-dark">
        <p class="txt-grey-light">Vytvořil Martin Chládek (2020)</p>
    </footer>
</div>